.gifs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto;
    width: 900px;
    margin: 0 auto;
    padding: 10px;
    background-color: whitesmoke;
    box-sizing: border-box;
  }
  .gif img {
    max-width: 98%;
    height: 20rem;
    margin: 1px;
    padding: 1px;
    
  }